@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Välja lukustatud";
}

<hgroup>
    <h1 class="text-danger">Välja lukustatud.</h1>
    <h2 class="text-danger">See konto on lukustatud, palun proovige hiljem uuesti.</h2>
</hgroup>
