@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Estonia<br />
    Tallinn, Sõpruse pst 182<br />
    <abbr title="Telefon">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Toetus:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Turundus:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>